<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Initiatives Section</title>
</head>
<body>
    <section class="initiatives_container">
        <div class="initiatives_flex">
            <div class="initiatives_img">
                <img src="https://performance-resil.myshopify.com/cdn/shop/files/biotechnology-specialist-laboratory-conducting-experiments_1_f3a5dac1-7c65-4d68-b90a-59f5999ccee7.png?v=1697043882" alt="The Image of a Lab">
            </div>
            <div class="initiatives_text">
                <div class="ini_text_heading">
                    <h2>Research Capabilities</h2>
                </div>
                <div class="ini_tick_main">
                    <div class="ini_tick_box">
                        <div class="ini_tick_mark">
                            <img src="https://performance-resil.myshopify.com/cdn/shop/t/15/assets/check-icon.png?v=180689207112535245961698224947" alt="Tick Mark">
                        </div>
                        <div class="ini_tick_text">
                            <span>Natural polymers</span>
                        </div>
                    </div>
                    <div class="ini_tick_box">
                        <div class="ini_tick_mark">
                            <img src="https://performance-resil.myshopify.com/cdn/shop/t/15/assets/check-icon.png?v=180689207112535245961698224947" alt="Tick Mark">
                        </div>
                        <div class="ini_tick_text">
                            <span>Emulsion polymerization</span>
                        </div>
                    </div>
                    <div class="ini_tick_box">
                        <div class="ini_tick_mark">
                            <img src="https://performance-resil.myshopify.com/cdn/shop/t/15/assets/check-icon.png?v=180689207112535245961698224947" alt="Tick Mark">
                        </div>
                        <div class="ini_tick_text">
                            <span>Equilibration reactions</span>
                        </div>
                    </div>
                    <div class="ini_tick_box">
                        <div class="ini_tick_mark">
                            <img src="https://performance-resil.myshopify.com/cdn/shop/t/15/assets/check-icon.png?v=180689207112535245961698224947" alt="Tick Mark">
                        </div>
                        <div class="ini_tick_text">
                            <span>Gum and elastomer blends</span>
                        </div>
                    </div>
                    <div class="ini_tick_box">
                        <div class="ini_tick_mark">
                            <img src="https://performance-resil.myshopify.com/cdn/shop/t/15/assets/check-icon.png?v=180689207112535245961698224947" alt="Tick Mark">
                        </div>
                        <div class="ini_tick_text">
                            <span>Mechanical emulsions</span>
                        </div>
                    </div>
                    <div class="ini_tick_box">
                        <div class="ini_tick_mark">
                            <img src="https://performance-resil.myshopify.com/cdn/shop/t/15/assets/check-icon.png?v=180689207112535245961698224947" alt="Tick Mark">
                        </div>
                        <div class="ini_tick_text">
                            <span>Condensation polymerizations</span>
                        </div>
                    </div>
                    <div class="ini_tick_box">
                        <div class="ini_tick_mark">
                            <img src="https://performance-resil.myshopify.com/cdn/shop/t/15/assets/check-icon.png?v=180689207112535245961698224947" alt="Tick Mark">
                        </div>
                        <div class="ini_tick_text">
                            <span>Hydrosilylation reactions</span>
                        </div>
                    </div>
                    <div class="ini_tick_box">
                        <div class="ini_tick_mark">
                            <img src="https://performance-resil.myshopify.com/cdn/shop/t/15/assets/check-icon.png?v=180689207112535245961698224947" alt="Tick Mark">
                        </div>
                        <div class="ini_tick_text">
                            <span>Polymer functionalization and copolymerization</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>