<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video_Slider| Progress_bar</title>
    <link rel="shortcut icon"
        href="https://bleame.com/cdn/shop/files/favicon2.png?crop=center&height=32&v=1644852955&width=32"
        type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <section class="inner">
        <div class="sli-container">
            <div class="video-flex">
                <div class="video_slider">
                    <div class="item">
                        <video muted loop
                            poster="https://cdn.accentuate.io/7105770193071/-1675836209392/poster-image-v1675924900212.png?446x766"
                            class="short_video">
                            <source src="https://cdn.shopify.com/videos/c/o/v/1f4eab19489349e48af156e40bcf7ad5.mp4"
                                type="video/mp4">
                            Your browser doesn't support the video format.
                        </video>
                        <div class="play_btn">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
                                <path d="M40 0a40 40 0 1040 40A40 40 0 0040 0zM26 61.56V18.44L64 40z"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="item">
                        <video muted loop
                            poster="https://cdn.accentuate.io/7105770193071/-1675836209392/video-capture-6111-v1675928908603.png?360x640">
                            <source src="https://cdn.shopify.com/videos/c/o/v/d01895f2e153419ea97f3d27324d5641.mp4"
                                type="video/mp4">
                            Your browser doesn't support the video format.
                        </video>
                        <div class="play_btn">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
                                <path d="M40 0a40 40 0 1040 40A40 40 0 0040 0zM26 61.56V18.44L64 40z"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="item">
                        <video muted loop
                            poster="https://cdn.accentuate.io/7105770193071/-1675836209392/video-capture-1024-v1675928914418.png?360x640">
                            <source src="https://cdn.shopify.com/videos/c/o/v/9807f673cea143efa2369e992d8d5a96.mp4"
                                type="video/mp4">
                            Your browser doesn't support the video format.
                        </video>
                        <div class="play_btn">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
                                <path d="M40 0a40 40 0 1040 40A40 40 0 0040 0zM26 61.56V18.44L64 40z"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="item">
                        <video muted loop
                            poster="https://cdn.accentuate.io/7105770193071/-1675836209392/video-capture-8863-v1675928882989.png?540x960">
                            <source src="https://cdn.shopify.com/videos/c/o/v/8cf2ef14b3ec46169a960940f00a6bd5.mp4"
                                type="video/mp4">
                            Your browser doesn't support the video format.
                        </video>
                        <div class="play_btn">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
                                <path d="M40 0a40 40 0 1040 40A40 40 0 0040 0zM26 61.56V18.44L64 40z"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="item">
                        <video muted loop
                            poster="https://cdn.accentuate.io/7105770193071/-1675836209392/video-capture-8863-v1675928882989.png?540x960">
                            <source src="https://cdn.shopify.com/videos/c/o/v/8cf2ef14b3ec46169a960940f00a6bd5.mp4"
                                type="video/mp4">
                            Your browser doesn't support the video format.
                        </video>
                        <div class="play_btn">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
                                <path d="M40 0a40 40 0 1040 40A40 40 0 0040 0zM26 61.56V18.44L64 40z"></path>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="text_box">
                    <h1 class="text_heading">The Future is Hair-Free! 💜</h1>
                    <div class="feature_section">
                        <div class="feature_item">
                            <div class="progress">
                                <div class="progress_inner">
                                    <span class="progress_val">95</span>
                                    <span>%</span>
                                </div>
                            </div>
                            <p class="feature_text">Said the appearance of their strawberry legs improved</p>
                        </div>
                        <div class="feature_item">
                            <div class="progress">
                                <div class="progress_inner">
                                    <span class="progress_val">94</span>
                                    <span>%</span>
                                </div>
                            </div>
                            <p class="feature_text">Noticed a reduction in the appearance of ingrown hairs</p>
                        </div>
                        <div class="feature_item">
                            <div class="progress">
                                <div class="progress_inner">
                                    <span class="progress_val">90</span>
                                    <span>%</span>
                                </div>
                            </div>
                            <p class="feature_text">Saw an improvement in the look of skin firmness</p>
                        </div>
                        <p class="res_para">
                            <span>*&nbsp;Results according to clinical/consumer studies. For more information refer to
                                each
                                product page.
                        </p>
                        <button type="submit" class="buy_btn"><span>Buy It Now</span></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="script.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".video_slider").slick({
                slidesToShow: 2,
                centerMode: true,
                autoplay: false,
                autoplaySpeed: 1000,
                speed: 500,
                dots: false,
                arrows: false,
                slidesToScroll: 1,
                Infinite: true,
                swipe: true,
                responsive: true,
                responsive: [
                    {
                        breakpoint: 992,
                        settings: {
                            slidesToShow: 1,
                        }
                    }
                ]
            });
            $('.play_btn').click(function () {
                $('video').each(function () {
                    this.pause();
                    $(this).siblings('.play_btn').show();
                });
                $(this).hide();
                $(this).siblings('video').get(0).play();
            });
        });
    </script>
</body>

</html>