<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Home Heritage</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <section class="annc_sec active">
        <div class="annc_inner">
            <div class="top_annc_flex">
                <div class="annc_text">
                    <span>Free Shipping for Orders in USA</span>
                    <a href="" class="annc_learn">Learn&nbsp;More</a>
                </div>
                <div class="annc_list">
                    <ul>
                        <li class="annc_link">
                            <a href="">FAQ</a>
                        </li>
                        <li class="annc_link">
                            <a href="">Price Match Guarantee</a>
                        </li>
                        <li class="annc_link">
                            <a href="">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="header_sec">
        <div class="header_inner">
            <header class="header_flex">
                <div class="search_sec">
                    <div class="mobile_left_menu">
                        <button class="left-btn mob-menu_btn">
                            <span class="material-symbols-outlined">
                                menu
                            </span>
                        </button>
                        <button class="left-btn mob-close_btn">
                            <span class="material-symbols-outlined">
                                close
                            </span>
                        </button>
                        <button class="left-btn mob-search_btn">
                            <span class="material-symbols-outlined">
                                search
                            </span>
                        </button>
                    </div>
                    <div class="search_field">
                        <input type="text" name="search" class="search_input" placeholder="Search">
                        <button type="submit" class="search_btn">
                            <span class="material-symbols-outlined">
                                search
                            </span>
                        </button>
                    </div>
                </div>
                <div class="logo_sec">
                    <a href="/">
                        <img src="https://thehomeheritage.com/cdn/shop/files/thehomeheritage_updated_logo.png?v=1694639301"
                            alt="logo">
                    </a>
                </div>
                <div class="icons_sec">
                    <ul>
                        <li class="header_icon account_icon">
                            <a href="" class="icons_link">
                                <span class="platform_icon">
                                </span>
                                <span class="platform_text">Account</span>
                            </a>
                        </li>
                        <li class="header_icon recent_icon">
                            <a href="" class="icons_link">
                                <span class="platform_icon">
                                </span>
                                <span class="platform_text">Recents</span>
                            </a>
                        </li>
                        <li class="header_icon fav_icon">
                            <a href="" class="icons_link">
                                <span class="platform_icon">
                                </span>
                                <span class="platform_text">Favorites</span>
                            </a>
                        </li>
                        <li class="header_icon cart_icon">
                            <a href="" class="icons_link">
                                <span class="platform_icon">
                                </span>
                                <span class="platform_text">
                                    Cart&nbsp;(
                                    <span class="cart_counter">0</span>
                                    )
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </header>
            <nav class="nav_flex">
                <ul>
                    <li class="nav_item news_nav">
                        <span href="" class="nav_link">News & Featured</span>
                        <div class="news_dropdown">
                            <div class="news_dropdown_inner">
                                <div class="news_col gen_col">
                                    <ul class="col_list gen_list">
                                        <h3 class="col_heading">General</h3>
                                        <li class="gen_item">
                                            <a href="" class="col_link">Home</a>
                                        </li>
                                        <li class="gen_item">
                                            <a href="" class="col_link">Catelog</a>
                                        </li>
                                        <li class="gen_item">
                                            <a href="" class="col_link">Contact</a>
                                        </li>
                                    </ul>
                                    <ul class="col_list featured_list">
                                        <h3 class="col_heading">Featured</h3>
                                        <li class="featured_item">
                                            <a href="" class="col_link">View Online Catelog</a>
                                        </li>
                                        <li class="featured_item">
                                            <a href="" class="col_link">Track Your Order</a>
                                        </li>
                                        <li class="featured_item">
                                            <a href="" class="col_link">Request a Catelog</a>
                                        </li>
                                        <li class="featured_item">
                                            <a href="" class="col_link">Address Change</a>
                                        </li>
                                        <li class="featured_item">
                                            <a href="" class="col_link">Do not Sell or Share</a>
                                        </li>
                                        <li class="featured_item">
                                            <a href="" class="col_link">My Personal</a>
                                        </li>
                                        <li class="featured_item">
                                            <a href="" class="col_link">Information</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="news_col info_col">
                                    <ul class="col_list info_list">
                                        <h3 class="col_heading">Information</h3>
                                        <li class="info_item">
                                            <a href="" class="col_link">Contact Us</a>
                                        </li>
                                        <li class="info_item">
                                            <a href="" class="col_link">Track Your Order</a>
                                        </li>
                                        <li class="info_item">
                                            <a href="" class="col_link">Returns & Returns</a>
                                        </li>
                                        <li class="info_item">
                                            <a href="" class="col_link">Shipping Information</a>
                                        </li>
                                        <li class="info_item">
                                            <a href="" class="col_link">Give Us Feedback</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="news_col collection_col">
                                    <div class="collection_img">
                                        <img src="https://thehomeheritage.com/cdn/shop/products/img1_ebe86b05-6381-4df8-bfd3-7fea609d3d7b.jpg?v=1697824340"
                                            alt="Sanuas">
                                    </div>
                                    <a href="" class="collection_link col_link">Sunas</a>
                                </div>
                                <div class="news_col collection_col">
                                    <div class="collection_img">
                                        <img src="https://thehomeheritage.com/cdn/shop/collections/KyotaKansha_Black_Lifestyle_1000x1000_5015c900-d999-445a-b6d9-ec971a4dcc18.webp?v=1698012116"
                                            alt="Massage Chair">
                                    </div>
                                    <a href="" class="collection_link col_link">Massage Chairs</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav_item brand_nav">
                        <span href="" class="nav_link">Brands</span>
                        <div class="brand_drop">
                            <ul class="brand_list">
                                <li class="brand_item">
                                    <h3>Osaka</h3>
                                </li>
                                <li class="brand_item">
                                    <h3>Dundalk Liesurecraft</h3>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav_item">
                        <a href="" class="nav_link">Shops</a>
                    </li>
                    <li class="nav_item">
                        <a href="" class="nav_link">Our Story</a>
                    </li>
                </ul>
            </nav>
            <div class="mobile_menu">
                <div class="mob_menu_inner">
                    <div class="mob_menu_top">
                        <ul>
                            <li class="mob_menu_box">
                                <a href="">
                                    <span class="menu_box_icon menu-account_icon">
                                    </span>
                                    <span class="menu_box_text">Sign in</span>
                                </a>
                            </li>
                            <li class="mob_menu_box">
                                <a href="">
                                    <span class="menu_box_icon menu-recent_icon">
                                    </span>
                                    <span class="menu_box_text">Recents</span>
                                </a>
                            </li>
                            <li class="mob_menu_box">
                                <a href="">
                                    <span class="menu_box_icon menu-track_icon">
                                    </span>
                                    <span class="menu_box_text">Track Order</span>
                                </a>
                            </li>
                            <li class="mob_menu_box">
                                <a href="">
                                    <span class="menu_box_icon menu-stores_icon">
                                    </span>
                                    <span class="menu_box_text">Stores</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="mob_menu_list">
                        <ul>
                            <li class="mob_menu_item mob-news">
                                <h3 class="menu_item_heading">
                                    <span class="material-symbols-outlined mob-news_close expand_btn">
                                        expand_less
                                    </span>
                                    <span class="menu_heading_text">
                                        News & Featured
                                    </span>
                                    <span class="material-symbols-outlined mob-news_slide expand_btn active">
                                        expand_more
                                    </span>
                                </h3>
                                <div class="mob-news-list nav_item_drop">
                                    <ul>
                                        <li class="mob-news-item">
                                            <h3 class="menu_item_heading">
                                                <span class="material-symbols-outlined mob-gen-close expand_btn">
                                                    expand_less
                                                </span>
                                                <span class="menu_heading_text">
                                                    General
                                                </span>
                                                <span class="material-symbols-outlined mob-gen-slide expand_btn active">
                                                    expand_more
                                                </span>
                                            </h3>
                                            <div class="mob-gen-list mob-news-drop">
                                                <ul>
                                                    <li class="mob-news-item">
                                                        <a href="">Home</a>
                                                    </li>
                                                    <li class="mob-news-item">
                                                        <a href="">Catelog</a>
                                                    </li>
                                                    <li class="mob-news-item">
                                                        <a href="">Contact</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="mob-news-item">
                                            <h3 class="menu_item_heading">
                                                <span class="material-symbols-outlined mob-featured-close expand_btn">
                                                    expand_less
                                                </span>
                                                <span class="menu_heading_text">
                                                    Featured
                                                </span>
                                                <span
                                                    class="material-symbols-outlined mob-featured-slide expand_btn active">
                                                    expand_more
                                                </span>
                                            </h3>
                                            <div class="mob-featured-list mob-news-drop">
                                                <ul>
                                                    <li class="mob-news-item">
                                                        <a href="">View Online Catelog</a>
                                                    </li>
                                                    <li class="mob-news-item">
                                                        <a href="">Track Your Order</a>
                                                    </li>
                                                    <li class="mob-news-item">
                                                        <a href="">Request a Catelog</a>
                                                    </li>
                                                    <li class="mob-news-item">
                                                        <a href="">Address Change</a>
                                                    </li>
                                                    <li class="mob-news-item">
                                                        <a href="">Do Not Sell Or Share My Personal
                                                            Information</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="mob-news-item">
                                            <h3 class="menu_item_heading">
                                                <span class="material-symbols-outlined mob-info-close expand_btn">
                                                    expand_less
                                                </span>
                                                <span class="menu_heading_text">
                                                    Information
                                                </span>
                                                <span
                                                    class="material-symbols-outlined mob-info-slide expand_btn active">
                                                    expand_more
                                                </span>
                                            </h3>
                                            <div class="mob-info-list  mob-news-drop">
                                                <ul>
                                                    <li class="mob-news-item">
                                                        <a href="">Contact Us</a>
                                                    </li>
                                                    <li class="mob-news-item">
                                                        <a href="">Track Your Order</a>
                                                    </li>
                                                    <li class="mob-news-item">
                                                        <a href="">Returns & Returns</a>
                                                    </li>
                                                    <li class="mob-news-item">
                                                        <a href="">Shipping Information</a>
                                                    </li>
                                                    <li class="mob-news-item">
                                                        <a href="">Give Us Feedback</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="mob-news-item">
                                            <h3 class="menu_item_heading">
                                                <span class="material-symbols-outlined expand_btn">
                                                    expand_less
                                                </span>
                                                <span class="material-symbols-outlined expand_btn active"
                                                    style="margin-left: auto;">
                                                    expand_more
                                                </span>
                                            </h3>
                                        </li>
                                        <li class="mob-news-item">
                                            <div class="collection_img">
                                                <img src="https://thehomeheritage.com/cdn/shop/products/img1_ebe86b05-6381-4df8-bfd3-7fea609d3d7b.jpg?v=1697824340"
                                                    alt="Home Image">
                                            </div>
                                            <div class="mob-collection-anchor">
                                                <a href="" class="collection_link col_link">Sunas</a>
                                            </div>
                                        </li>
                                        <li class="mob-news-item">
                                            <div class="collection_img">
                                                <img src="https://thehomeheritage.com/cdn/shop/collections/KyotaKansha_Black_Lifestyle_1000x1000_5015c900-d999-445a-b6d9-ec971a4dcc18.webp?v=1698012116"
                                                    alt="Home Image">
                                            </div>
                                            <div class="mob-collection-anchor">
                                                <a href="" class="collection_link col_link">Massage Chairs</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="mob_menu_item">
                                <h3 class="menu_item_heading">
                                    <span class="material-symbols-outlined expand_btn brands_close">
                                        expand_less
                                    </span>
                                    <span class="menu_heading_text">
                                        Brands
                                    </span>
                                    <span class="material-symbols-outlined expand_btn active brands_expand">
                                        expand_more
                                    </span>
                                </h3>
                                <div class="nav_item_drop brand_drop">
                                    <ul>
                                        <li class="brand_item mob_brand">
                                            <h3>Okasa</h3>
                                        </li>
                                        <li class="brand_item mob_brand">
                                            <h3>Dundalk Liesurecraft</h3>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="mob_menu_item">
                                <h3 class="menu_item_heading">
                                    <span class="menu_heading_text">
                                        Shipping
                                    </span>
                                </h3>
                            </li>
                            <li class="mob_menu_item">
                                <h3 class="menu_item_heading">
                                    <span class="menu_heading_text">
                                        Returns
                                    </span>
                                </h3>
                            </li>
                            <li class="mob_menu_item">
                                <h3 class="menu_item_heading">
                                    <span class="menu_heading_text">
                                        Our Story
                                    </span>
                                </h3>
                            </li>
                            <li class="mob_menu_item">
                                <h3 class="menu_item_heading">
                                    <span class="menu_heading_text">
                                        Track Order
                                    </span>
                                </h3>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            let trans_speed = 300;

            $('.mob-search_btn').click(function () {
                $('.search_field').slideToggle(trans_speed);
            });

            $('.mob-menu_btn').click(function () {
                $('.annc_sec').removeClass('active');
                $(this).hide();
                $('.mob-close_btn').show();
                $('.mobile_menu').addClass('active');
                $('.header_inner').css('padding', '0 10px');
            });
            $('.mob-close_btn').click(function () {
                $('.annc_sec').addClass('active');
                $(this).hide();
                $('.mob-menu_btn').show();
                $('.mobile_menu').removeClass('active');
                $('.header_inner').css('padding', '10px');
            });

            $('.expand_btn').click(function () {
                $(this).removeClass('active');
                $(this).siblings('.expand_btn').addClass('active');
            });

            $('.mob-news_slide').click(function () {
                $('.mob-news-list').slideDown(trans_speed);
            });

            $('.mob-news_close').click(function () {
                $('.mob-news-list').slideUp(trans_speed);
            });

            $('.mob-gen-slide').click(function () {
                $('.mob-gen-list').slideDown(trans_speed);
            });

            $('.mob-gen-close').click(function () {
                $('.mob-gen-list').slideUp(trans_speed);
            });

            $('.mob-featured-slide').click(function () {
                $('.mob-featured-list').slideDown(trans_speed);
            });

            $('.mob-featured-close').click(function () {
                $('.mob-featured-list').slideUp(trans_speed);
            });

            $('.mob-info-slide').click(function () {
                $('.mob-info-list').slideDown(trans_speed);
            });

            $('.mob-info-close').click(function () {
                $('.mob-info-list').slideUp(trans_speed);
            });

            $('.brands_expand').click(function () {
                $('.brand_drop').slideDown(trans_speed);
            });

            $('.brands_close').click(function () {
                $('.brand_drop').slideUp(trans_speed);
            });



        });
    </script>
</body>

</html>